<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>community</title>
        <style>
          /* Always set the map height explicitly to define the size of the div
           * element that contains the map. */
          #map {
            height: 100%;
          }
          /* Optional: Makes the sample page fill the window. */
          html, body {
            height: 100%;
            margin: 0;
            padding: 0;
          }
        </style>
        <script>
        var map;
        var service;
        var infowindow;

        function initialize() {
          var pyrmont = new google.maps.LatLng({{request.session.centered}});

          map = new google.maps.Map(document.getElementById('map'), {
              center: pyrmont,
              zoom: 12
            });

          var request = {
            location: pyrmont,
            radius: '500',
            query: 'dog parks'
          };

          service = new google.maps.places.PlacesService(map);
          service.textSearch(request, callback);
        }

        function callback(results, status) {
          if (status == google.maps.places.PlacesServiceStatus.OK) {
            for (var i = 0; i < results.length; i++) {
              var place = results[i];
              createMarker(results[i]);
            }
          }
        }
        function createMarker(place) {
          var placeLoc = place.geometry.location;
          var marker = new google.maps.Marker({
            map: map,
            position: place.geometry.location
        })
          var infowindow = new google.maps.InfoWindow({
            map:map,
            })


          google.maps.event.addListener(marker, 'click', function(){

            infowindow.setContent(place.name);
            infowindow.open(map, this);
          });
        }
        </script>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'login_registration/css/materialize.css' %}"media="screen" title="no title"  charset="utf-8">
        <!--Import Google Icon Font-->
          <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <!--Import materialize.css-->
          <!-- <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/> -->
          <!--Let browser know website is optimized for mobile-->
          <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
      <nav>
      <div class="nav-wrapper">
        <a href="{% url 'success' %}" class="brand-logo left">Meetpups</a>
        <ul id="nav-mobile" class="right">
          <li>Welcome <a href="{% url 'profilepage' %}" style="display:inline-block">{{ user.firstname|title}} {{user.lastname|make_list|first|title}}.</a></li>
          <li><form action='/logout'>
            {% csrf_token %}
            <input type='submit' value='Logout' class="waves-effect waves-light btn" style="margin-left:20px">
          </form></li>
        </ul>
      </div>
      </nav>
        <h3>Event Map</h3>
        <!-- <div id="map"></div> -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfaj5Z9lfipt5fV4D3CNy6a2I-HLDIZg4&libraries=places&callback=initialize" async defer></script>
        <h3>Forums </h3>

        {% if messages %}
            {% for message in messages %}
            <script>
                alert('{{ message }}');
            </script>
            {% endfor %}
        {% endif %}

        <!-- <a href="/success">Back</a><br> -->

        <table class="highlight">
        <thead>
          <tr>
              <th>Topic</th>
              <th>Posted By</th>
              <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for post in posts %}
          <tr>
            <td>
            <a href="/topic/{{post.id}}"> {{post.title}}</a></td>
            <td> Posted by <a href="#">{{post.user.firstname|title}}</a></td>
            <td>{% if post.user.id ==  request.session.user.id %}
                <a href="/deletepost/{{post.id}}">Delete</a>
            {% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="container">
        <h4>Post a Topic</h4>
        <form class="" action="/post" method="post">
          <input type="text" name="title" placeholder="Title"><br>
          {% csrf_token %}
          <textarea name="description" rows="8" cols="80" placeholder="description"></textarea><br>
          <input type="submit" name="post" value="Post" class="waves-effect waves-light btn">
        </form>
      </div>
      <img src="http://familypetvacaville.com/clients/9658/images/company_images/.resized/.resized_500x500_Labrador%20(yellow)%20image%20courtesy%20of%20Luigi%20Diamanti%20at%20FreeDigitalPhotos.net.jpg" class="circle responsive-img">
      <img src="http://dogpeopleinc.com/dogpeople_files/dogpeople_logo_web.jpg" class = "circle responsive-img">
      <footer class="page-footer">
              <div class="container">
                <div class="row">
                  <div class="col l6 s12">
                    <h5 class="white-text">Like our Page?</h5>
                    <p class="grey-text text-lighten-4">Spread the love!</p>
                  </div>
                  <div class="col l4 offset-l2 s12">
                  <h5 class="white-text">Check out the Community!</h5>
                  <ul>
                    <li><a class="grey-text text-lighten-3" href="{% url 'community' %}">Forums</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  </ul>
                </div>
                </div>
              </div>
              <div class="footer-copyright">
                <div class="container">
                © Meetpup LLC
                </div>
              </div>
            </footer>
    </body>
</html>
