<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>community</title>
    </head>
    <body>
        <h3>Event Map</h3>
        <div id="map"></div>
        <script>
        var map;
        var service;
        var infowindow;

        function initialize() {
          var pyrmont = new google.maps.LatLng({{request.session.centered}});

          map = new google.maps.Map(document.getElementById('map'), {
              center: pyrmont,
              zoom: 12
            });

          var request = {
            location: pyrmont,
            radius: '500',
            query: 'dog parks'
          };

          service = new google.maps.places.PlacesService(map);
          service.textSearch(request, callback);
        }

        function callback(results, status) {
          if (status == google.maps.places.PlacesServiceStatus.OK) {
            for (var i = 0; i < results.length; i++) {
              var place = results[i];
              createMarker(results[i]);
            }
          }
        }
        function createMarker(place) {
          var placeLoc = place.geometry.location;
          var marker = new google.maps.Marker({
            map: map,
            position: place.geometry.location
        })
          var infowindow = new google.maps.InfoWindow({
            map:map,
            })


          google.maps.event.addListener(marker, 'click', function(){

            infowindow.setContent(place.name);
            infowindow.open(map, this);
          });
        }
        </script>
        <h3>Community Board </h3>

        {% if messages %}
            {% for message in messages %}
            <script>
                alert('{{ message }}');
            </script>
            {% endfor %}
        {% endif %}

        <a href="/logout">Logout</a><br>
        <a href="/success">Back</a><br>

        {% for post in posts %}
            <p>
            <a href="/topic/{{post.id}}"> {{post.title}}</a> Posted by <a href="#">{{post.user.firstname}}</a>
            {% if post.user.id ==  request.session.user.id %}
                <a href="/deletepost/{{post.id}}">Delete</a>
            {% endif %}
            </p>
        {% endfor %}

        <form class="" action="/post" method="post">
            <input type="text" name="title" placeholder="Title"><br>
            {% csrf_token %}
            <textarea name="description" rows="8" cols="80" placeholder="description"></textarea><br>
            <input type="submit" name="post" value="Post">
        </form>

    </body>
</html>
