<!DOCTYPE html>
<html>
  <head>
    <title>Meetpups - Social Dogging</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      .none{
        background-color: #ffffff;
        border: 1px solid #cccccc;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
        -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
        -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
        -o-transition: border linear 0.2s, box-shadow linear 0.2s;
        transition: border linear 0.2s, box-shadow linear 0.2s;
      }
      #map {
        margin-top:5px;
        height: 123%;
        width: 100%;
        right: 0;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      form{width: 80%}
    </style>
    <script>
    var map;
    var service;
    var infowindow;

    function initialize() {
      var pyrmont = new google.maps.LatLng({{request.session.centered}});

      map = new google.maps.Map(document.getElementById('map'), {
          center: pyrmont,
          zoom: 12
        });

      var request = {
        location: pyrmont,
        radius: '500',
        query: 'dog parks'
      };


      service = new google.maps.places.PlacesService(map);
      service.textSearch(request, callback);
    }

    function callback(results, status) {
      if (status == google.maps.places.PlacesServiceStatus.OK) {
        for (var i = 0; i < results.length; i++) {
          var place = results[i];
          createMarker(results[i]);
        }
      }
    }
    function createMarker(place) {
      var placeLoc = place.geometry.location;
      var marker = new google.maps.Marker({
        map: map,
        position: place.geometry.location
    })
      var infowindow = new google.maps.InfoWindow({
        map:map,
        })


      google.maps.event.addListener(marker, 'click', function(){

        infowindow.setContent(place.name);
        infowindow.open(map, this);
      });
    }
    </script>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'login_registration/css/materialize.css' %}"media="screen" title="no title"  charset="utf-8">
    <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <!-- <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/> -->
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript">
      $('#login-form').on('submit', function(event){
      event.preventDefault();
      console.log("form submitted!")  // sanity check
      create_post();
  });
    </script>
    <script type="text/javascript">
      $('#registration-form').on('submit', function(event){
      event.preventDefault();
      console.log("form submitted!")  // sanity check
      create_post();
  });
    </script>
  </head>
  <body>
    <nav>
    <div class="nav-wrapper">
      <a href="{% url 'success' %}" class="brand-logo left">Meetpups</a>
      <ul id="nav-mobile" class="right">
        <li>Welcome <a href="{% url 'profilepage' %}" style="display:inline-block">{{ user.firstname|title}} {{user.lastname|make_list|first|title}}.</a></li>
        <li><form action='/logout'>
          {% csrf_token %}
          <input type='submit' value='Logout' class="waves-effect waves-light btn" style="margin-left:20px">
        </form></li>
      </ul>
    </div>
    </nav>
    <!-- <div class="logo">
      <h1>Meetpups</h1>
    </div> -->
    <!-- <form action='/eventform'>
      {% csrf_token %}
      <input type='submit' value='Create Event'>
    </form> -->

    <!-- <form action='/register'>
      {% csrf_token %}
      <input type='submit' value='Register'>
    </form> -->
    <!-- <form action='/community'>
      {% csrf_token %}
      <input type='submit' value='Community Page'>
    </form> -->
      <div class="row center-align" style="height:650px">
        <div class="col s5 card large blue-grey" style="overflow:scroll">
          <a href='{% url 'eventform' %}' class="waves-effect waves-light btn" style="width:96%; margin-bottom:10px;">Create New Event</a>
          <!-- <a href='#' class="waves-effect waves-light btn" style="width:96%; margin-bottom:10px;">Sign in to Create an Event</a> -->
          {% for x in events %}
          <div class="col s12 m12 center-align">
            <!-- <h2 class="header">Horizontal Card</h2> -->
            <div class="card horizontal">
              <div class="card-image">
                <img src="http://lorempixel.com/100/190/nature/8">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <h5>{{x.name}}</h5>
                  <p>{{x.date}}</p>
                  <p>At {{x.time}} for {{x.duration}} by {{x.user.firstname|title}}</p>
                </div>
                <div class="card-action">
                  <a href="#">Check out the Event</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- {% for event in events %}
          <p>{{event.name}}</p>
          <p>{{event.date}}</p>
          <p>{{event.time}}</p>
          {% endfor %} -->
        </div>
        <div class="col s7 right" style="height:80%"><div id="map"></div></div>
      </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfaj5Z9lfipt5fV4D3CNy6a2I-HLDIZg4&libraries=places&callback=initialize" async defer></script>
    <div class="row">

      <div class="col s4" style="text:center-align">
        <!-- Promo Content 1 goes here -->
        <!-- <div class="row valign-wrapper center-align"> -->
          <div class="center promo promo-example">
            {% load staticfiles %}
            <img src={% static 'login_registration/images/meetdong.png' %} class="circle responsive-img" style="width:50%; height:50%">
            <p class="promo-caption">Meet People</p>
            <p class="light center">Meet new people by creating events and participating in them! Use maps to find dog parks near you and host a meet up!</p>
          </div>
          <!-- <i class="material-icons">flash_on</i> -->
          <!-- <div class="col s7" style="margin-left:60px"> -->
          <!-- </div> -->
        <!-- </div> -->

      </div>
      <div class="col s4">
        <!-- Promo Content 2 goes here -->
        <div class="center promo promo-example">
          {% load staticfiles %}
          <img src={% static 'login_registration/images/pong.png' %} class="circle responsive-img" style="width:50%; height:50%">
          <p class="promo-caption">Online Community</p>
          <p class="light center">User driven community base allows you to socialize with your fellow pup lovers!</p>
        </div>
      </div>
      <div class="col s4">
        <!-- Promo Content 3 goes here -->
        <div class="center promo promo-example">
          {% load staticfiles %}
          <img src={% static 'login_registration/images/dongpongadopt.png' %} class="circle responsive-img" style="width:50%; height:50%">
          <p class="promo-caption">Adopt a Friend</p>
          <p class="light center">Help out a potential lifetime friend! Save the pups from certain dooooom by taking them into your loving care.</p>
        </div>
      </div>

    </div>
    <!-- <div class="form-div"> -->
      <!-- <form action="/loginvalidate" id="login" method='POST'>
        <fieldset>
          <legend>Login</legend>
          {% csrf_token %}
          <label for='email'>Email: <input type='text' name='email' id='email'></label>
          <label for='password'>Password: <input type='password' name='password' id='password'></label>
          <input type='submit' value='Login'>
        </fieldset>
      </form>
    </div> -->
    <!-- <form action='/logout'>
      {% csrf_token %}
      <input type='submit' value='Logout'>
    </form> -->
    <!-- <div class="registration-form-div">
      <form id="registration" action="registervalidate" method="post">
        <fieldset>
        <legend>Register</legend>
        {% csrf_token %}
        <input placeholder="First Name" type="text" name="firstname">
        <input placeholder="Last Name" type="text" name="lastname" >
        <input placeholder="Email" type="text" name="email" >
        <input placeholder="Zip Code" type="text" name="zipcode" >
        <input placeholder="Password" type="password" name="password" >
        <input placeholder="Confirm Password" type="password" name="passwordconf" >
        <input type="submit" value="Register!" >
        </fieldset>
      </form>
    </div> -->
    <footer class="page-footer">
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <h5 class="white-text">Like our Page?</h5>
                  <p class="grey-text text-lighten-4">Spread the love!</p>
                </div>
                <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Check out the Community!</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="{% url 'community' %}">Forums</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                </ul>
              </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              © Meetpup LLC
              </div>
            </div>
          </footer>
  </body>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'login_registration/css/materialize.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
</html>
