<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'login_registration/css/materialize.css' %}"media="screen" title="no title"  charset="utf-8">
    <link rel="stylesheet" href="{% static 'login_registration/css/materialize.min.css' %}"media="screen" title="no title"  charset="utf-8">
    <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <!-- <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/> -->
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <nav class="nav-extended">
    <div class="nav-wrapper">
      <a class="brand-logo left">Meetpups</a>
    </div>
    </nav>
    <div class="container">
    <h1>Edit your Profile</h1>
    <form action="/updateprofile" method="post">
      {% csrf_token %}
      <h4>Profile Picture</h4>
      <label for="email">Email:</label><br>
      <input type="text" name="email"><br>
      <label for="first_name">First Name:</label><br>
      <input type="text" name="first_name"><br>
      <label for="last_name">Last Name:</label><br>
      <input type="text" name="last_name"><br>
      <label for="bio">About:</label><br>
      <textarea id="textarea1" class="materialize-textarea" name="bio" rows="8" cols="80"></textarea>
      <h4>Add a Family Member!</h4>
      <label for="pet_name">Name:</label>
      <input type="text" name="pet_name"><br>
      <label for="pet_birthday">Birthday:</label>
      <input type="text" name="pet_birthday"><br>
      <label for="pet_breed">Breed:</label>
      <input type="text" name="pet_breed"><br>
      <label for="pet_bio">About:</label><br>
      <textarea id="textarea2" class="materialize-textarea" name="pet_bio" rows="8" cols="80"></textarea><br>
      <div class="center-align"><input type="submit" value="Update" class="waves-effect waves-light btn" style="width:50%"></div>
    </form>

    <form action="/profilepage" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col s12 center-align"><input type="submit" value="Back" class="waves-effect waves-light btn" style="width:50%"></div>
      </div>
    </form>
  </div>
  </body>
</html>
