<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'login_registration/css/style.css' %}"media="screen" title="no title"  charset="utf-8">
  </head>
  <body>
    <h1>Edit your Profile</h1>
    <form action="/updateprofile" method="post">
      {% csrf_token %}
      <h4>Profile Picture</h4>
      <label for="email">Email:</label><br>
      <input type="text" name="email"><br>
      <label for="first_name">First Name:</label><br>
      <input type="text" name="first_name"><br>
      <label for="last_name">Last Name:</label><br>
      <input type="text" name="last_name"><br>
      <label for="bio">Biography:</label><br>
      <textarea name="bio" rows="8" cols="80"></textarea>
      <h4>Add a Family Member!</h4>
      <!-- <label for="pet_name">Name:</label> -->
      <input type="text" name="pet_name" placeholder="Name"><br>
      <!-- <label for="pet_birthday">Birthday:</label> -->
      <input type="text" name="pet_birthday" placeholder="Birthday"><br>
      <!-- <label for="pet_breed">Breed:</label> -->
      <input type="text" name="pet_breed" placeholder="Breed"><br>
      <label for="pet_bio">About:</label><br>
      <textarea name="pet_bio" rows="8" cols="80"></textarea><br>
      <input type="submit" value="Update">
    </form>

    <form action="/profilepage" method="post">
      {% csrf_token %}
      <input type="submit" value="Back">
    </form>
  </body>
</html>
