<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Event Creation</title>
  </head>
  <body>

        {% if messages %}
        <ul class='messages'>
            {% for message in messages %}
            <li{% if message.tags %} class='{{ message.tags}}'{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

    <h1>Event Creation</h1>
    <form action='/createvent' method='POST'>
        {% csrf_token %}
        <label for= 'name'>Name:<input type="text" name='name' id='name'></label>
        <label for = 'date'>Date: <input type='date' name='date' id='date'></label>
        <label for = 'time'>Start Time: <input type='text' name='time' id='time'></label>
        <label for ='duration'>Duration: <input type='text' name='duration'></label>
        <label for = 'street'>Street Address: <input type='text' name='street'></label>
        <label for = 'state'>State: <input type='text' name='state'></label>
        <label for = 'city'>City: <input type='text' name='city'></label>
        <label for = 'zipcode'>Zipcode: <input type='text' name='zipcode'></label>
        <label for = 'description'>Description: <input type='text' name='description'></label>
        <input type='submit' value='Submit'>
    </form>


  </body>
</html>
