<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login/Registration</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'login_registration/css/materialize.css' %}"media="screen" title="no title"  charset="utf-8">
    <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <!-- <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/> -->
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <nav>
    <div class="nav-wrapper">
      <a href="{% url 'success' %}"class="brand-logo left">Meetpups</a>
      <ul id="nav-mobile" class="right">
        <li><a href="{% url 'profilepage' %}">Back</a></li>
      </ul>
    </div>
    </nav>
        {% if messages %}
        <ul class='messages'>
            {% for message in messages %}
            <li{% if message.tags %} class='{{ message.tags}}'{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

    <h1>Head to Profile Page</h1>
    <form action="/profilepage" method="post">
      {% csrf_token %}
      <input type="submit" value="Go!">
    </form>
    <h1>Login</h1>
    <form action='/loginvalidate' method='POST'>
        {% csrf_token %}
        <label for= 'email'>Email: <input type='text' name='email' id='email'></label>
        <label for='password'>Password: <input type='password' name='password' id='password'></label>
        <input type='submit' value='Login'>
    </form>

    <h3>Not a user?</h3>
    <form action="/register" method="post">
      {% csrf_token %}
      <input type="submit" value="Register">
    </form>

    <a href='{% url 'community' %}'>Community</a><br>
    <h1></h1>
  </body>
</html>
