<!DOCTYPE html>
<html>
  <head>
    <title>Place searches</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
    var map;
    var service;
    var infowindow;

    function initialize() {
      var pyrmont = new google.maps.LatLng({{request.session.zip}});

      map = new google.maps.Map(document.getElementById('map'), {
          center: pyrmont,
          zoom: 12
        });

      var request = {
        location: pyrmont,
        radius: '500',
        query: 'dog parks'
      };

      service = new google.maps.places.PlacesService(map);
      service.textSearch(request, callback);
    }

    function callback(results, status) {
      if (status == google.maps.places.PlacesServiceStatus.OK) {
        for (var i = 0; i < results.length; i++) {
          var place = results[i];
          createMarker(results[i]);
        }
      }
    }
    function createMarker(place) {
      var placeLoc = place.geometry.location;
      var marker = new google.maps.Marker({
        map: map,
        position: place.geometry.location
    })
      var infowindow = new google.maps.InfoWindow({
        map:map,
        })


      google.maps.event.addListener(marker, 'click', function(){

        infowindow.setContent(place.name);
        infowindow.open(map, this);
      });
    }
    </script>
  </head>
  <body>
    <p>HI</p>
    <form action='/zipupdate'>
        {% csrf_token %}
        Zip Code: <input type='text' name='zip'>
        <input type='submit' value='Submit'>
    </form>
    <form action='/eventform'>
        {% csrf_token %}
        <input type='submit' value='Create Event'>
    </form>
    <form action='/logout'>
        {% csrf_token %}
        <input type='submit' value='Logout'>
    </form>
    <form action='/register'>
        {% csrf_token %}
        <input type='submit' value='Register'>
    </form>
    <form action='/community'>
        {% csrf_token %}
        <input type='submit' value='Community Page'>
    </form>

    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfaj5Z9lfipt5fV4D3CNy6a2I-HLDIZg4&libraries=places&callback=initialize" async defer></script>
  </body>
</html>
